.answers #addAnswerButton {
  background-color: #4c45f1;
  border: 1px solid black;
  color: white;
  font-family: "Trebuchet MS";
  font-weight: 500;
  padding: 5px 15px 5px 15px;
  margin-right: 10px
}

.form #submitButton {
  background-color: #4c45f1;
  border: 1px solid black;
  color: white;
  font-family: "Trebuchet MS";
  font-weight: 500;
  padding: 5px 15px 5px 15px;
}

.infoInput {
  margin: 0px 0px 10px 10px;
  border-radius: 5px;
}
